body {
color: #fff;
}


h1 {
margin-top: 30px;
font-size: 40px;
color: #ffeb3b;
text-shadow: 2px 2px 5px #000;
}


p {
font-size: 18px;
margin-bottom: 20px;
}


.box {
background: rgba(255, 255, 255, 0.95);
width: 360px;
margin: auto;
padding: 25px;
border-radius: 15px;
box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
color: #333;
animation: fadeIn 1s ease-in-out;
}


input {
width: 90%;
padding: 12px;
margin: 8px 0;
border-radius: 8px;
border: 1px solid #ccc;
font-size: 15px;
}


input:focus {
outline: none;
border-color: #43cea2;
box-shadow: 0 0 5px #43cea2;
}


button {
width: 95%;
padding: 12px;
margin-top: 15px;
background: linear-gradient(to right, #ff9800, #ff5722);
color: white;
border: none;
border-radius: 8px;
font-size: 16px;
cursor: pointer;
transition: 0.3s;
}


button:hover {
background: linear-gradient(to right, #ff5722, #e91e63);
transform: scale(1.05);
}


#result {
margin-top: 20px;
font-size: 20px;
color: #4caf50;
font-weight: bold;
}


@keyframes fadeIn {
from {
opacity: 0;
transform: translateY(30px);
}
to {
opacity: 1;
transform: translateY(0);
}
}